/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Montserrat", sans-serif;
}

/* general */
body {
    position: relative;
    min-height: 100vh;
    background-color: #f6f6f6;
}

h1 {
    font-size: 250%;
}

h1,
h2 {
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #1fab89;
}

/* note section */
section {
    width: 30%;
    height: 600px;
    background-color: #9df3c4;
    margin: 0 50px 50px;
    border-radius: 20px;
}

.fa-trash {
    padding: 10px;
    margin-right: 10px;
    font-size: 150%;
    color: #1fab89;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.fa-trash:hover {
    color: #f6f6f6;
    background-color: #1fab89;
    cursor: pointer;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notes-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

#to-do,
#completed {
    height: 550px;
    border-radius: 0 0 20px 20px;
    padding: 15px;
}

#to-do {
    background-color: #62d2a2;
}

#completed {
    background-color: #1fab89;
}

/* user note items */
.to-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.to-do-item p {
    width: 70%;
}

.button-cont i {
    font-size: 200%;
    padding: 5px;
    border: 3px solid transparent;
    border-radius: 5px;
}

.button-cont i:hover {
    cursor: pointer;
}

.fa-check-square,
.fa-undo-alt {
    color: #1fab89;
}

.fa-ban {
    color: #c90000;
}

/* user input section */
#add-note {
    width: 200px;
    height: 50px;
    border-bottom: 3px solid #1fab89;
    border-radius: 5px;
    background-color: #d1d1d1;
    font-size: 100%;
}

#add-note:hover {
    background-color: #1fab89;
    border-bottom: 3px solid #9df3c4;
    cursor: pointer;
}

/* user input modal */
textarea {
    resize: none;
    border-radius: 10px;
    padding: 15px;
}

.fa-times {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 150%;
    cursor: pointer;
}

#modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    height: 300px;
    width: 600px;
    background-color: #9df3c4;
    border-radius: 10px;
    z-index: 1;
}

#add-conf {
    margin-top: 15px;
    background-color: #d1d1d1;
    border-radius: 5px;
    border-bottom: 3px solid #1fab89;
    padding: 15px;
}

#add-conf:hover {
    background-color: #1fab89;
    border-bottom: 3px solid #62d2a2;
    cursor: pointer;
}

/* modal overlay */
#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
